{{#if siteSettings.roblox_profile_enabled}}
    <span>
        <svg class="svg-icon svg-icon-title" viewBox="0 0 65 65">
        	<path xmlns="http://www.w3.org/2000/svg" d="M21,9.3L9.2,55.1L55,66.9l11.8-45.8L21,9.3z M41.3,43.7l-8.9-2.3l2.3-8.9l8.9,2.3L41.3,43.7z"></path>
        </svg>
        <a href="https://www.roblox.com/users/profile?username={{model.username}}">{{i18n 'user.roblox_profile'}}</a>
    </span>
{{/if}}
